.topArea {
    display: flex;
    background-color: rgb(84, 150, 255);
    padding: 2px 12px;
    height: 40px;
    width: 100%;
    border-bottom: .5px solid rgb(29, 28, 28);
    justify-content: space-between;
    align-items: center;
    color: white;
}

.inputBox {
    font-size: large;
    font-weight: 600;
    width: 92%;
}

.inputBox:placeholder-shown {
    color: rgb(186, 186, 186);
}

.settingsIcon {
    border-radius: 50%;
    width: 5%;
    cursor: pointer;
    font-size: x-large;
}
