.container {
    background-color: rgb(192, 192, 192);
    border-radius: 8px;
    height: 100%;
    overflow: hidden;
}

.resultBox {
    padding: 10px;
    overflow-y: scroll;
    height: 560px;
    padding: 2px 6px;
    width: 100%;
}
